@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Забезпечує, що сторінка займає всю висоту вікна */
}

body.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Мінімальна висота сторінки — 100% висоти вікна */
}

header {
    flex-shrink: 0; /* Фіксує Header у верхній частині */
}

.main-content {
    flex: 1; /* Основний контент займає весь доступний простір між Header і Footer */
    padding: 20px; /* Відступи для контенту */
}

footer {
    flex-shrink: 0; /* Фіксує Footer у нижній частині */
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
}